<div class="card">
  <header class="card-header has-background-link">
    <p class="card-header-title has-text-white">
      {{user.name}} on {{format_date createdAt}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{content}}
    </div>
  </div>
</div>
<br>
