<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Bob Loblaw Law Blog - Tech Edition</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                The Bob Loblaw Law Blog - Tech Version
            </p>
            <p class="subtitle">
                Why go to jail for a tech crime someone else noticed?
            </p>
        </div>
    </section>
    <nav class="navbar has-background-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-start">
                <a class="navbar-item has-text-white-bis" href="/">
                    Home
                </a>
                <a class="navbar-item has-text-white-bis" href="/dashboard">
                    Dashboard
                </a>
                <a class="navbar-item has-text-white-bis" href="/login">
                    Login
                </a>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
    {{{ body }}}
    </div>
</body>

</html>