<h1 class="title-4">Title</h1>
<input class="input" type="text" placeholder="Write your title here" id="title">
<h1 class="title-4">Content</h1>
<textarea class="textarea" placeholder="Write your post here" id="content"></textarea>
<br>
<div class="field">
    <p class="control">
        <button class="button is-primary" id="add-post" data-uid={{user_id}}>
            Post
        </button>
        <button class="button is-primary" id="cancel">
            Cancel
        </button>
    </p>
</div>

<script src="js/add-post.js"></script>
