{{#each posts as |post|}}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{post.title}} <br> by {{post.user.name}} on {{format_date post.createdAt}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{post.content}}
    </div>
  </div>
</div>
{{/each}}