<h1 class="title">Login</h1>
<div class="field">
  <p class="control">
    <input class="input" type="text" placeholder="Username" id="username-login">
  </p>
</div>
<div class="field">
  <p class="control">
    <input class="input" type="password" placeholder="Password" id="password-login">
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-primary" id="submit">
      Login
    </button>
  </p>
</div>
<a href="/signup">New User? Sign up today</a>

<script src="js/login.js"></script>