<div class="card">
  <header class="card-header has-background-primary">
    <p class="card-header-title">
      {{post.title}} <br> by {{post.user.name}} on {{format_date post.createdAt}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{post.content}}
    </div>
  </div>
</div>
{{#each post.comments as |comment|}}
    {{>post-comments}}
{{/each}}
